system/system/apex/com.android.vndk.current.apex
system/system/app/Notes40/Notes40.apk
system/system/priv-app/AREmojiEditor/AREmojiEditor.apk
system/system/priv-app/LiveStickers/LiveStickers.apk
system/system/priv-app/wallpaper-res/wallpaper-res.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/GmsCore/GmsCore.apk
